.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.filterFlex {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 24px;
}

.eventHeroimage {
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    height: 600px;
}

.leftContent {
    margin-left: 300px;
}

.rightContent {
    display: flex;
    margin-right: 300px;
    flex-direction: column;
}

.bodyContent {
    margin-left: 0px;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    max-width: 700px;
}

/* span {
    display: flex;
    justify-content: center;
} */

body {
    overflow-x: hidden;
    display: block;
    background-color: #F9EEE4;
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    viewport-fit: contain;
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 20px;
}

.home-icon {
    height: 24px;
    width: 52px;
}

.search-container {
    border:1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

.search-icon {
    height: 28px;
    width: 28px;
    margin-left: -1px;
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 0px;
}

input[type=text] {
    width: 200px;
    height: 28px;
    border: white;
    border-radius: 20px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
  }

.filter {
    background-color: #F99645;
    border-radius: 20px;
    width: 100px;
    height: 24px;
    margin-right: 50px;
}

.filterName {
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;

}

.profilePhoto {
    margin-top: 200px;
}

.name {
    margin-bottom: 35px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 20px;
}

h1 {
    font-family: "Montserrat";
    font-weight: bold;
    color: #2B478B;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#buttonRSVP {
    margin-right: 200px;
    width: 180px;
    height: 40px;
    background-color: #F99645;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
}

#buttonMessage {
    width: 180px;
    height: 40px;
    background-color: #F99645;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;

}

#buttonRSVP:hover {
    background-color: #FFAB66;
    color: white;
}

#buttonMessage:hover {
    background-color: #FFAB66;
    color: white;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.horizontal {
    display: flex;
    overflow-x: scroll;
}

.horizontalCards {
    display: flex;
    overflow-x: scroll;
    margin-left: 30px;
}

.card {
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 180px;
    margin-left: 12px;
    margin-bottom: 48px;
    margin-top: 24px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}

.cardimage {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.card-headline {
    font-size: 16px;
    margin-left: 10px;
    font-family: "Open Sans";
}

.card-date {
    position: relative;
    top: 4px;
    font-size: 12px;
    margin-left: 10px;
}

.card-location-image {
    position: relative;
    left: 175px;
    top: -35px;
}

.card-location-text {
    position: relative;
    left: 190px;
    top: -50px;
    font-size: 12px;
}

.card:hover {
    cursor: pointer;
    /* border-style: solid;
    border-color: #F99645; */
    transform: scale(1.1, 1.1);
}

.map {
    border-radius: 13px;
}

.wheelbarrow {
    border-radius: 13px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 615.56px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 13px;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.fade:not(.show) {
    opacity: 1 !important;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #2D2D2D;
  font-weight: bold;
  font-size: 48px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

a { 
    text-decoration: none !important;
}
a:hover {
    color: #F99645 !important;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 24px 2px;
  background-color: #FFCA9E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #EB7C2B;
}

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
} */

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.yourRSVP {
    font-family: "Montserrat";
    font-weight: bold;
    color: #2B478B;
}

.browse-all {
    font-family: "Montserrat";
    font-weight: bold;
    color: #2B478B;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.eventDate {
    font-size: 28px;
}

.category {
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 10px;
    padding: 20px;
    /* justify-content: center; */
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.cat-headline {
    /* display: flex; */
    font-family: "Open Sans";
    font-weight: bold;
    color: #2B478B;
    font-size: 20px;
    /* justify-content: center;  */
    display: block;
}

.yourNeighborhood {
    margin-top: 38px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #2B478B;
    font-size: 20px;
    display: block;
}

/* .footer {
    position: absolute;
    bottom: -1250px;
    width: 100%;
    height: 110px;  
    background-color: #2D2D2D;
} */

/* .footer-quote {
    width: 300px;
    color: white;
    padding-top: 50px;
    position: relative; 
    top: 50px; 
    padding-left: 25px;
}

.footer-faq {
    color: white;
    padding: 30px;
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    top: 20px;
}

.footer-help {
    color: white;
    padding: 30px;
    position: relative; 
    float: right;
    display: flex;
    flex-direction: column;
    top: 20px;
} */

.footer {
    width: 100%;
    height: 110px;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -1250px;
}

.footer-quote {
    width: 50%;
    color: white;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    word-wrap: normal;
    font-size: 12px;
}

.footer-faq {
    color: white;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 20px;
    
}

.footer-faq:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-help {
    color: white;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: -15px;
    text-decoration: none;
    
}

.footer-help:hover {
  text-decoration: underline;
  cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    top: 25%;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    color: #2B478B;

  }

.pTitle {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: bold;
  }

.pContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
    font-family: "Open Sans";
    font-size: 18px;
    color:#2D2D2D;
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.ModalbuttonMessage {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 40px;
    background-color: #F99645;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
}

.ModalbuttonMessage:hover {
    background-color: #FFAB66;
    color: white;
}

.category:hover {
    cursor: pointer;
}