.flexContainer {
    display: flex;
    justify-content: space-between;
}

.filterFlex {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.eventHeroimage {
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    height: 600px;
}

.leftContent {
    margin-left: 300px;
}

.rightContent {
    display: flex;
    margin-right: 300px;
    flex-direction: column;
}

p {
    margin-left: 0px;
    margin-top: 50px;
}

span {
    display: flex;
    justify-content: center;
}

body {
    background-color: #F9EEE4;
}

.profilePhoto {
    margin-top: 200px;
}

.name {
    margin-bottom: 100px;
    margin-top: 20px;
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.fade:not(.show) {
    opacity: 1 !important;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #2D2D2D;
  font-weight: bold;
  font-size: 48px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

a { 
    text-decoration: none !important;
}
a:hover {
    color: #F99645 !important;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #F99645);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 100px 2px;
  background-color: #FFCA9E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #EB7C2B;
}

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
} */

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
