.card {border: 2px solid red;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 132px;
    margin-left: 12px;
    margin-bottom: 48px;
    margin-top: 24px;

}

.cardimage {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.body {
    overflow-x: hidden;
    display: block;
    background-color: #F9EEE4;
}

.horizontal {
    display: flex;
    overflow-x: scroll;
}

.footer {
    viewport-fit: contain;
    height: 110px;
    border: 2px solid red;
}

.filter {
    background-color: white;
    border-style: solid;
    border-color: #F99645;
    border-width: thin;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 74px;
    margin-bottom: 24px;
}

.header {
    display: flex;
    viewport-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
   
   
}

.create {
    background-color: #7499F1;
    color: white;
    border-radius: 20px;
    width: 335px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 335px;
    margin-bottom: 16px;
}

.create:hover {
    background-color: #2B468B;
}

.toggle {
    background-color: green;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-image {
    padding-bottom: 48px;
}

.browse-all {
    background-color: #F99645;
    border-radius: 20px;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px; 
}

.btn-group button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFCA9E; 
    border: 1px solid #F99645;
    color: #F99645; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 167.5px;
    margin-bottom: 16px;   
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

  .btn-group button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .btn-group button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .btn-group button:hover {
    background-color: #F99645;
    color: white;
  }

  .btn-group button:focus {
      background-color: #F99645;
      border-style: solid;
      border-color: #F99645;
      color: white;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
  input[type=text] {
    width: 200px;
    height: 28px;
    border: white;
    border-radius: 20px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
  }
  
  input[type=text]:focus {
    background-color: blue;
  }

  .search-icon {
      height: 28px;
      width: 28px;
      margin-left: -1px;
      z-index: 2;
      position: absolute;
      right: 0px;
      top: 0px;
  }

  .home-icon {
      height: 24px;
      width: 52px;
  }

  .search-container {
    border:1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
  }
