.card {border: 2px solid red;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    width: 247px;
    height: 175px;
    margin: 20px;

}

.cardimage {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.body {
    overflow-x: hidden;
    display: block;
}

.horizontal {
    display: flex;
    overflow-x: scroll;
}

.footer {
    viewport-fit: contain;
    height: 110px;
    border: 2px solid red;
}

.filter {
    display: flex;
    overflow-x: scroll;
    flex-direction: column;
    background-color: orange;
    width: 64px;
}

.header {
    display: flex;
    viewport-fit: contain;
    height: 60px;
    border: 2px solid red;
}

.create {
    background-color: blue;
}

.toggle {
    background-color: green;
}